<html lang="pt-BR">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Livraria Novo Olhar</title>
        <link href="/css/styles.css" rel="stylesheet" />
        <link href="/css/meuestilo.css" rel="stylesheet"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <img src="/images/logo-livrarianovo.png" width="70px" height="70px"/>
            <a class="navbar-brand ps-3" href="/principal">Livraria Novo olhar</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
           
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Configurações</a></li>
                        <li><a class="dropdown-item" href="#!">LOG</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Sair</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
           <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Sistema</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                1. Cadastros
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/cadastro/livro">1. Cadastro de Livro</a>
                                    <a class="nav-link" href="/cadastro/funcionarios">2. Cadastro de Funcionário</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                2. Listas
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                   	 <a class="nav-link" href="/livros/listar">1. Lista de Livros</a>
                                   	 <a class="nav-link" href="/funcionarios/listar">2. Lista de Funcionários</a>
                               		 <a class="nav-link" href="/clientes/listar">3. Lista de Clientes</a>
                               		 <a class="nav-link" href="/vendas/listar">4.Lista de Vendas</a>
                                </nav>
                            </div>
                            <div class="sb-sidenav-menu-heading">Configurações</div>                          
                        	</div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as: Fábio</div>
              
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Lista de Livros</h1>
                                            
                       
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                               Tabela
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
					                        <th class="column1"><span>Id</span></th>
											<th class="column2"><span>Título</span></th>
											<th class="column3"><span>Autor</span></th>
											<th class="column4"><span>Quantidade</span></th>
											<th class="column5"><span>Preço</span></th>
											<th class="column6"><span>Ações</span></th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        <tr th:each="livro: ${livros}">
											<td th:text="${livro.id}" class="column1"></td>
											<td th:text="${livro.titulo}" class="column2"></td>
											<td th:text="${livro.autor}" class="column3"></td>
											<td th:text="${livro.quantidade}" class="column4"></td>
											<td th:text="${livro.preco}" class="js-decimal"></td>
											<td class="column6">
											<!-- Editar -->
											<a th:href="@{'/livro/editar/'+${livro.id}}" class="button green" ><span><i class="fa fa-edit"></i></span></a>
											
											<!-- Excluir -->
											<a th:href="@{'/livro/excluir/'+${livro.id}}" class="button red">
											<span><i class="fa fa-trash"></i></span></a>
											<td class="column7"></td>
										</tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
	                 <footer class="py-4 bg-light mt-auto">
					<div class="container-fluid px-4">
						<div class="d-flex align-items-right right-content-between small">
							<div class="text-muted">Redes Sociais</div>
							<ul>
								<li class="redes_sociais"><a
									href="https://www.facebook.com/" title="Facebook"><img
										src="/images/logo-facebook.PNG" /></a></li>
								<li class="redes_sociais"><a href="https://www.youtube.com/"
									title="Youtube"><img src="/images/logo-youtube.PNG" /></a></li>
								<li class="redes_sociais"><a href="https://www.twitter.com/"
									title="Twitter"><img src="/images/logo-twitter.PNG" /></a></li>
							</ul>
						</div>
					</div>
					<div class="container-fluid px-4">
						<div
							class="d-flex align-items-center justify-content-between small">
							<div class="text-muted">Livraria Novo Olhar - 2021. Todos os
								direitos reservados</div>
							<div class="text-muted">
								<p>E-mail: livrarianovoolhar@livraria.com.br</p>
							</div>
							<div class="text-muted">
								<p>Contato: (85) 99999-9999</p>
							</div>
						</div>
					</div>
				</footer>
            </div>
        </div>
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="/js/datatables-simple-demo.js"></script>
        <script src="/js/jquery/jquery-3.2.1.min.js"></script>
        <script src="/js/jquery/jquery.mask.min.js"></script>
        <script src="/js/jquery/jquery.maskMoney.min.js"></script>
        <script src="/js/utilidades.js"></script>
    </body>
</html>
