<!DOCTYPE>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{fragments/layout}">
<head></head>

<body class="sb-nav-fixed">
        
		<section  layout:fragment="corpo">
		<div class="container-fluid px-4">
			<h1 class="mt-4">Bem-vindo ao gerenciamento da livraria Novo Olhar</h1>
				<p style="color:white;">Acesse as telas pelo menu lateral.</p>
			</div>
		
		<div>
			<img src="/images/fundo-principal.jpg" class="img-fluid" alt="fundo-principal">
		</div>
		
		 </section>	
    </body>
</html>