body {
	margin: 0;
	padding: 0;
	color: white;
	background-color: #4876FF;
}

.container-fluid {
	
}

.form-group {
	margin: 10px;
}

.form-control {
	border-radius:4px;
	box-shadow: 1px 1px 2px #333333;
}

.card-header {
	width: 300px;
	padding-left: 20px;
	border-radius:4px;
	margin-top: 50px;
	display: flex;
	margin-left: 25%;
	margin-right: 25%;
}

.card {
	padding: 30px;
	color: #8B8682;
	width: 650px;
	height: 300px;
	z-index: 2;
	display: flex;
	margin-left: 25%;
	margin-right: 25%;
}

.container {
		
}