* {
	margin: 0px;
}

body {
  padding-bottom: 20px;
  background-color: #4876FF;
  margin: 0;
  padding-top: 0;
}

h4 {
	color: #B0E0E6;
	padding: 5px;
	width: 300px;
}

.navbar {
  margin-bottom: 20px;
  font-size: 1.1em;
  margin: 0;
  padding: 0;
}
